@import url('https://fonts.googleapis.com/css2?family=Lato&family=Righteous&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #143b63;
    margin: 100px 0;

}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2EC4B6;
}

nav a:hover {
    background-color: #cbf3f0;
    color: black;
}

.book, .join {
    background-color: #ded8ae;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
}

.book:hover, .join:hover {
    background-color: #2EC4B6;
    color: black;
}

.msg {
    background-color: #143b63;
    line-height: 1.5em;
}

footer , footer a{
    background-color: #2EC4B6;
    text-decoration: none;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

.home-title {
    color: black;
}

h4 {
    color: black;
}

.book, .join {
    color: black;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width:100%;
}

.logo {
    width: 80px;
}

footer a {
    font-size: 1.2em;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    padding-bottom: 15px;
    font-size: .8em
    
}

.home-title {
    font-family: 'Righteous', 'Lato', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.msg {
    margin: 150px 0;
    padding: 35px
    
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}