@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Anton', 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 1.1em;
}

p {
    color: black;
    padding: 10px;
    font-family: 'Roboto';
    font-size: 1.25em;
    line-height: 1.25;
}

img {
    max-width: 100%;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    opacity: .9;
    background-color: black;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 100px;   
    height: 100px;
    position: relative;
}

nav {
    background-color: black;
    /*background-color: #2EC4B6;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;


}


nav a {
    color: white;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

nav a:hover {
    color: black;
    background-color: #FCA311;
}




.intro-content {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 100px);
    margin-top: 10px;
    margin-bottom: 25px;
}

.intro-content img{
    grid-column: 2;
    width: 600px;
}

.intro-content h1{
    font-size: 2em;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    line-height: .8;
}

.intro-content p{
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    grid-column: 1;
    grid-row: 2;
}


.idea-content-label h1{
    display: block;
    margin-top: 25px;
    margin-bottom: 50px;
}

.home-grid {
    min-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 600px 600px 600px;
}

.idea-content-label {
    /* background-color: blue; */
    margin-bottom: 0;
    font-size: 4em;
    grid-column: 1/3;
    grid-row: 1;

}


.truth-content {
    grid-column: 1/3;
    grid-row: 2;
    
}

.truth-content img{
    border-radius: 10px;
    border: 10px solid #14213D;
    width: 100%;
    margin: 0 auto;
    grid-column: 1;

}

.truth-title {
    width: 50%;
    place-self: center start;
    font-size: 2.5em;
    font-weight: lighter;
    padding: 50px;
    margin-bottom: 25px;
    text-align: left;
    /* background-color: blue; */
    grid-column: 2;
    grid-row: 1;
}

.truth-p{
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 50px;
    margin-bottom: 100px;
    grid-column: 2;
    grid-row: 2;
}

.matters-content {
    grid-column: 1/3;
    grid-row: 3;
}
.matters-content img{
    border-radius: 10px;
    border: 10px solid #14213D;
    width: 100%;
    margin-left: 75px;
    grid-column: 2;
}

.matters-title {
    width: 50%;
    place-self: center start;
    margin: 0;
    text-align: left;
    font-size: 2.5em;
    font-weight: lighter;
    /* background-color: blue; */
    grid-column: 1;
    grid-row: 1;
}


.matters-content p{
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    grid-column: 1;
    grid-row: 2;
}

.becoming-content {
    grid-column: 1/3;
    grid-row: 4;
}

.becoming-content img{
    width: 100%;
    border-radius: 10px;
    border: 10px solid #14213D;
}

.becoming-title {
    margin: 0;
    margin-left: 60px;
    text-align: left;
    font-size: 2.5em;
    font-weight: lighter;
    /* background-color: blue; */
    grid-column: 2/3;
    grid-row: 1;
}

.becoming-content p{
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    padding: 0 50px;
    margin: 0 0 50px 25px;
    grid-column: 2;
    grid-row: 2;
}

.truth-content, .matters-content, .becoming-content {
    /* background-color: blue; */
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px;
    align-content: center;
    padding: 50px;
}

.coming-soon, .coming-soon-resources {
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;
    grid-column: 1/4;
    display: flex;
    grid-template-columns: 50% 50%;
    
    
}

.coming-soon-content {
    font-weight: lighter;
    text-align: left;
}

.coming-soon p {
    font-weight: 600;
}

form {
    grid-column: 1/3;
    width: 100%;
    margin-left: 25px;
    margin-bottom: 10px;
    grid-column: 1;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mail {
    height: 50px;
    width: 100%;
}

.coming-soon-button {
    margin: 0 0;
} 

button {
    font-size: 1em;
    padding: 15px;
}

footer {
    width: 100%;
    background-color: black;
    padding: 25px 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    font-size: 1em;
    text-decoration: none;
}

footer a:hover {
    color: #FCA311;
    text-decoration: underline;
}

#info {
    font-size: 1em;
    color: white;
}

footer .social img {
    padding-top: 15px;
}

/* This is for the resource page */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.resources-p{
    font-weight: 600;
    padding-left: 100px;
    padding-right: 100px;
}

.resource-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 600px 600px 600px;
}

.official-site, .media-library, .inspiring-music {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 100px);
}

.official-site-image, .library-img, .music-library {
     width: 100%;
}

.site-title, .library-title, .mlibrary-title {
    align-self: center;
    text-align: left;
    padding-left: 60px;
    grid-column: 2;
    grid-row: 1;
}

.official-site p, .media-library p, .inspiring-music p{
    font-size: 1.5em;
    line-height: 1.5;
    padding-top: 0;
    padding-left: 60px;
    padding-right: 60px;
    grid-column: 2;
    grid-row: 2;
}



/* This is for the contact page */

.contact-me-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    border: 2px solid grey;
    width: 100%;
    
}


.contact-title {
    font-size: 3em;
    margin: 0 auto;
}


.contact-me-content {
    grid-row: 2;
}

.main-p {
    line-height: 1.5;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    grid-column: 1/3;
    grid-row: 1;
}

  /* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}
  
  /* Set default styles for tab content */
.tabcontent {
    grid-column: 1/3;
    color: white;
    display: none;
    padding: 5px;
    text-align: center;
}

.tablink {
    grid-row: 4;
    background-color: #555;
    color: white;
    float:left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
  }
  
  /* Style each tab content individually */

.call-now-title {
    font-size: 2em;
}

.call-img {
    margin: 0 auto;
    grid-column: 2;
    width: 300px;
}

.call-p {
    font-weight: 600;
    padding: 50px;
}

.booking-title {
    font-size: 2em;
}

.calendar-img {
    margin: 0 auto;
    grid-column: 1;
    width: 300px;
}

.book-p  {
    font-weight: 600;
    padding: 50px;
}

@media screen and (max-width: 800px) { 
    #content, .home-grid, #Introduction {
        display: block;
        height: auto;
    }

    .intro-content {
        display: block;
        height: auto;
    }

    nav, footer{
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }


    .truth-content, .matters-content, .coming-soon {
        display: block;
        height: auto;
    }

    .truth-content img, .matters-content img, .coming-soon img{
        margin: 50px auto;
        width: 60%;
    }

    


}

  

